
/* .top-level{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'outfit';
} */
.main-price{
  /* width:80%; */
  /* margin-top:10%; */
  /* background-color: white; */
  align-items: center;
  position: relative;
}
.forming{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:0px;
  row-gap: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.forming:nth-child(1){
  margin-left:20px;
}
.top-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.top-para{
  text-align: center;
  margin-bottom:30px;
}
.cancel-btn{
  border:none;
  width:auto;
  position:absolute;
  top:10px;
  right:10px;
  cursor: pointer;
  padding:3px;
  background-color: white;
}
.cancel-btn:hover{
  background-color: hsl(0, 0%, 70%);
  color:white;
}
.top-para{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.top-para >h1{
  color: black;
}
.inputing{
  padding:8px;
  border:none;
  border-bottom: 1px solid rgb(45, 52, 148);
}
.selecting{
  padding:8px 7px;
  min-width: 180px;
  border:none;
  font-size: 15px;
  border-bottom: 1px solid rgb(45, 52, 148);
  color:rgb(45, 52, 148);
}
.selecting>option{
  font-size: 15px;
  font-weight: 500;
}
.inputing::placeholder{
  font-size: 16px;
  color:rgb(45, 52, 148);
}
.inputing:focus{
  outline: none;
}
.disclaimer{
  font-size: 14px;
  white-space: wrap;
  padding-left: 10px;
  display:inline;
  line-break:strict;
  color:black;
  font-weight:550;
  font-family:'Times New Roman', Times, serif;
}
.submit-div{
  padding-right:10px;
}
.submit-div button{
  background-color: black;
  color:#ffff;
  font-weight:lighter;
  padding:12px;
  font-size: 18px;
  border:none;
  border-radius:3px;
}
.submit-div >button:hover{
  background-color:hsl(0, 0%, 20%) ;
}
.bottom-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:30px 10px;
}

.top-level{
  display: none;
  z-index:20;
  position:absolute;
  top:30%;
  background-color: white;
  width:80%;
  padding:10px;
  border-radius: 10px;
  left:10%;
  right:10%;
}
.black-background{
  background-color: black;
  opacity:0.8;
  position:absolute;
  width:100%;
  height:100vh;
  display: flex;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  z-index: 1;
  display:none;
  position:fixed;
}
.submit{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 30;
  top:100px;
  right:35%;
  background-color: white;
  border-radius: 10px;
  padding:8px;
  display: none;
  animation: slowing linear forwards;
  animation-duration:0.5s;
  /* transform: translateY(-200px);
  transition: transform 0.5s ease-in-out; */
}
@keyframes slowing {
  0%{
    top:-10%;
  }
  100%{
    top:15%;
  }
}
.submit-img{
  width:40px;
}
.submit-text{
  display: inline;
  font-size: 22px;
  font-family: 'outfit';
  padding-left:10px;
  color:black;
}
@media screen and (max-width:600px){
  .main-price{
    /* width:90%; */
    margin:2% 0px;
  }
  .forming{
    grid-template-columns: 1fr;
    gap:0px;
  }
  .bottom-price{
    margin-bottom: 10px;
    width:100% !important;
  }
  .selecting{
    margin-bottom: 10px;
    width:100% !important ;
  }
  .top-price{
    flex-direction: column;
    /* width:80%; */
  }
  .top-para >h1{
    font-size: 22px;
  }
  .inputing{
    width:100%;
    margin-bottom: 10px;
  }
  .selecting{
    /* width:77vw !important; */
    font-size: 14px;
  }
  .selecting>option{
    padding:auto;
    width:100%;
  }
  .cancel-btn{
    float:left;
    right:5px;
  }
  .disclaimer{
    line-break: loose;
  }
  .bottom-div{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .submit-div>button{
    margin-top:10px;
    font-size: 16px;
    padding:2% 4% ;
  }
  .inputing::placeholder{
    font-size:14px;
  }
  .top-level{
    padding:5px !important;
    left:0%;
    right: 0%;
    width:96%;
  }
  .submit-img{
    width:20px;
  }
  .submit-text{
    display: inline;
    font-size: 18px;
    font-family: 'outfit';
    /* padding-left:10px; */
    color:black;
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 30;
    right:0%;
    background-color: white;
    border-radius: 10px;
    padding:3px;
    left:10px;
    display: none;
  }
  @keyframes slowing {
    0%{
      top:-10%;
    }
    100%{
      top:130%;
    }
  }
}
