*{
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.class1{
  padding-top:102px;
}
.class1>p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size:30px;
  margin-left:30px;
}

.count>p{
  font-family:'Times New Roman', Times, serif;
  font-weight:400;
  font-size:20px;
  margin-left:30px;
}
.count>p>span{
  font-family: 'Times New Roman', Times, serif;
}
.models>p{
  display: inline;
  font-size: 18px;
  font-weight: 400;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.modelcars {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; 
  column-gap: 20px;
  row-gap: 20px;
  float:center;
  height: auto;
  align-items: center;
  padding:40px;
  /* box-sizing: border-box; */
  /* background-size: cover; */
}
.cardiv {
  width: 264px;
  height: 297px;
  transition: transform 0.3s ease-in-out;
  border-radius:10px; 
  cursor: pointer;
  background-color: rgb(237, 237, 237);
  position: relative;
  animation: animate 1s ease-in-out forwards;
  
}
@keyframes animate {
  0%{
    bottom:-100%;
  }
  100%{
    bottom:0%;
  }
}
.cardiv:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
  transform: scale(1.1); /* Zoom in by 10% */

}

.carimg>img{
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.textcar {
  width: 247px;
  height: 102.9px;
  margin-left:8px;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; 
}
.carimg {
  width: 100%;
  object-fit:contain;
}
.textcar>P{
  display: inline;
  color:#262626;
  font-family: 'Times New Roman', Times, serif;
}
.textcar>.carmodel{
  color:gray;
}
.carname{
  font-size:22px;
  font-weight:500;
}
.text>.carmodel{
  font-size:16px;
  font-weight:400;
  font-family:'Times New Roman', Times, serif;
}
.textcar>.carmilage{
  font-size: 17px;
  font-weight:400;
  font-family: 'Times New Roman', Times, serif;
  color:rgba(87, 87, 87,0.9);
}
.carprice{
  font-size:19px;
  font-weight:500;
  font-family:'Times New Roman', Times, serif;
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.line{
  margin-top:20px !important;
}
.line,
.lastline{
  background-color: rgb(181, 181, 181);
  width:auto;
  height:1px;
  margin-top:60px;
  margin-bottom:20px;
}
.lasttext{
  color:gray;
  font-family: 'Times New Roman', Times, serif;
  padding:10px;
}
.lastline{
  margin-top:0px;
}
.aboutcontent>ul{
  margin-bottom: 16px;
  color:rgb(102, 102, 102);
}
.aboutcontent>ul:nth-child(1),
.contact>ul:nth-child(1),
.other>ul:nth-child(1),
.exper>ul:nth-child(1){
  font-weight:700;
  font-size: 16px;
  color:black;
}

.contact>ul,
.other>ul{
  color:rgb(94, 94, 94);
}
.about-link{
  text-decoration: none;
  color:rgb(94, 94, 94);
}
@media screen and (max-width: 1500px) {
  .modelcars {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .modelcars {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .modelcars {
    grid-template-columns: 1fr;
    column-gap: 0px;
    /* row-gap: 10px; */
    float:center;
    width:100%;
    margin:0px !important;
    height:1;
    padding-left:7% !important;
    justify-content: center;
    align-items: center;
    /* margin-left:20px; */
  }
  .class1,
  .count{
    margin-left:20px;
  }
  .modelcars{
    padding:0px;
    /* margin-left:10px; */
    gap:10px;
    padding:3% !important;
  }
  .class1{
    padding-top:70px;
  }
  .class1>p{
    font-size:20px;
    margin-left:0px;
  }
  .cardiv {
    width:100% !important;
    height: auto !important;
    border-radius:10px;
    align-items: center;
    display: flex;
    flex-direction: start;
  }

  .count>p{
    font-size:20px;
    margin-left:0px;
  }
  .aboutcontent>ul{
    margin-bottom: 0px;
    margin-left:5px;
    padding-left:4px;
    color:rgb(102, 102, 102);
  }
  .contact>ul{
    padding:0px;
    margin-right: 5px;
  }
  .other>ul{
    padding:0px;
    margin-left:5px;
  }
  .textcar{
    margin-bottom: 10px;
  }
}
